# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.texbuild/
Alpha.db
README-test.md
SumatraPDF/
aaa-update-billQdialog.bat
api_boilerplate.pyc
billQdialog.pyc
billQdialog.ui
client_secrets.json
closure_table_test.py
compiled_resources.pyc
file_list_timestamped.json
icons_rc.pyc
img/
my_database.db
non-working/
readme_task_organiser.py
searchable_table.py
sumatrapdfcache/
testdbclosure.db
theme-description-Alpha-0.1.0.txt
treeselector.ui
treeselector_.pyc
treeselector_select.ui
upload.pyc
resources/closure
